# Global code owners
* @CrowdStrike/fcs-engineering

# DSPM scanning
/modules/scanning-environment/ @CrowdStrike/fcs-dspm
/modules/cs-scanning-mg.bicep @CrowdStrike/fcs-dspm
/modules/cs-scanning-sub.bicep @CrowdStrike/fcs-dspm
